# vim:ft=sh

SCRIPT_PWD="$(realpath "${BASH_SOURCE[0]}")"
SCRIPT_DIR=$(dirname "${SCRIPT_PWD}")

if ! . "${SCRIPT_DIR}/.venv/env/bin/activate"; then
    ! python3 -m venv "${SCRIPT_DIR}/.venv/env" && echo 'failed to create python virtual environment' && exit 1
    ! . "${SCRIPT_DIR}/.venv/env/bin/activate" && echo 'failed to activate python virtual environment' && exit 1
    ! pip install --upgrade pip && echo 'failed to upgrade pip' && exit 1
    ! pip install -r "${SCRIPT_DIR}/requirements.txt" && echo 'failed to install python requirements' && exit 1
fi
